:root {
  --primary: #ecc8af;
  --secondary: #e7ad99;
  --tertiary: #ce796b;
  --ocher: #c18c5d;
  --dark: #495867;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-wrapper {
  background-color: var(--dark);
}

/* titles */
h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  border: 1px dashed black;
  font-weight: bolder;
  /* padding-left: 20px; */
}
/* title */
.city-name {
  border: 1px dashed black;
  margin-right: 20px;
  margin-left: 20px;
}

/* safety and map section */
.safety-and-map {
  display: flex;
  flex-direction: row;
  border: 1px dashed black;
  margin-right: 20px;
  margin-left: 20px;
}

.safety-stats {
  border: 1px dashed black;
}

li {
  /* border: 1px dashed black; */
  /* padding: 20px; */
  /* text-align: center;
  padding-right: 20px; */
}

.map-box {
  border: 1px dashed black;
  /* width: 100%; */
}

/* food */
.food {
  border: 1px dashed black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* padding: 40px; */
  margin-right: 20px;
  margin-left: 20px;
  /* height: 150px; */
}

.food-cont {
  border: 1px dashed black;

  /* display: flex;
  flex-direction: row;
  justify-content: flex-start; */
}

.food-item {
  border: 1px dashed black;
  width: 15%;
  justify-content: space-around;
  padding: 5px;
}

/* places of interest */
.places-interest {
  border: 1px dashed black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* padding: 40px; */
  margin-right: 20px;
  margin-left: 20px;
}

.places-item {
  border: 1px dashed black;
  display: flex;

  width: 15%;
  justify-content: space-around;
  padding: 5px;
}

/* excursions */
.excursions {
  border: 1px dashed black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* padding: 40px; */
  margin-right: 20px;
  margin-left: 20px;
}

.excursions-item {
  border: 1px dashed black;
  width: 15%;
  justify-content: space-around;
  padding: 5px;
}

.footer-slogan {
  text-align: center;
  padding-bottom: 20px;
}

/* media query for smaller devices */

@media screen and (max-width: 780px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h1 {
    font-size: 30px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
  }

  .safety-and-map {
    display: flex;
    flex-direction: column;
  }

  p {
    flex-direction: row;
  }

  .map-box {
    border: 1px dashed black;
    width: 100%;
    flex-direction: row;
  }

  .food-item {
    width: 100%;
  }

  .food {
    border: 1px dashed black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* places of interest */
  .places-interest {
    border: 1px dashed black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
  }

  .places-item {
    width: 100%;
  }

  /* excursions */
  .excursions {
    border: 1px dashed black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
  }

  .excursions-item {
    width: 100%;
  }
}
