:root {
  --primary: #ecc8af;
  --secondary: #e7ad99;
  --tertiary: #ce796b;
  --ocher: #c18c5d;
  --dark: #495867;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-wrapper {
  background-color: var(--dark);
}

/* titles */
h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 70px;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-family: 'Josefin Slab', serif;
  /* padding-left: 20px; */
}

h3 {
  font-size: 20px;
  font-family: 'Josefin Slab', serif;
  text-align: center;
  /* padding-left: 20px; */
}

/* title */
.city-name {
  margin-right: 20px;
  margin-left: 20px;
}

/* safety and map section */
/*.safety-and-map {
  display: flex;
  flex-direction: row;
  border: 1px dashed black;
  margin-right: 20px;
  margin-left: 20px;
}

.safety-stats {
  border: 1px dashed black;
}

li {
  /* border: 1px dashed black; */
/* padding: 20px; */
/* text-align: center;
  padding-right: 20px; 
}

.map-box {
  border: 1px dashed black;
  /* width: 100%; 
}*/

/* food */

/*
.food {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* padding: 40px;
  margin-right: 20px;
  margin-left: 20px;
  /* height: 150px;
}

.food-cont {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.food-item {
  width: 15%;
  justify-content: space-around;
  padding: 5px;
}

/* places of interest 
.places-interest {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* padding: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

.places-item {
  display: flex;
  width: 15%;
  justify-content: space-around;
  padding: 5px;
}

/* excursions 
.excursions {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* padding: 40px; 
  margin-right: 20px;
  margin-left: 20px;
}

.excursions-item {
  width: 15%;
  justify-content: space-around;
  padding: 5px;
}

.footer-slogan {
  text-align: center;
  padding-bottom: 20px;
}
*/

/*----------------------------------MEDIA QUERIES - PHONE----------------------------------*/
@media screen and (max-width: 780px) {
  .nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h1 {
    font-size: 50px;
  }

  /*--------------------MAP & STATS--------------------*/
  .safety-and-map {
    box-shadow: 4px 8px 8px 2px var(--dark);
    border-radius: 0 0 25px 25px;
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  /*----------MAP----------*/
  .safety-and-map img {
    border: solid var(--dark) 3px;
    width: 100%;
    height: auto;
  }

  /*----------STATS----------*/
  .safety-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 0 0 25px 25px;
  }

  h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
  }

  .safety-stats ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 75px;
    margin-right: 75px;
    height: auto;
  }

  .safety-stats ul li {
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    margin: 10px;
  }

  /*--------------------RECOMMENDATIONS--------------------*/
  .recommendations {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }

  /*----------CARDS----------*/
  .recommendations article {
    margin: 10px
  }

  /*----------HEADINGS----------*/
  h3 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
  }

  /*----------OPTIONS----------*/
  article ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  article ul li {
    margin: 15px;
    list-style: none;
  }
}

/*----------------------------------MEDIA QUERIES - TABLET----------------------------------*/
@media screen and (min-width: 781px) and (max-width: 1366px) {
  h1 {
    font-size: 70px;
  }

  /*--------------------MAP & STATS--------------------*/
  .safety-and-map {
    box-shadow: 4px 8px 8px 2px var(--dark);
    border-radius: 0 0 25px 25px;
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  /*----------MAP----------*/
  .safety-and-map img {
    border: solid var(--dark) 3px;
    width: 100%;
    height: auto;
  }

  /*----------STATS----------*/
  .safety-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 0 0 25px 25px;
  }

  h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
  }

  .safety-stats ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 60px;
    margin-right: 60px;
    height: auto;
  }

  .safety-stats ul li {
    font-family: 'Hind', sans-serif;
    font-size: 30px;
    margin: 30px;
  }

  /*--------------------RECOMMENDATIONS--------------------*/
  .recommendations {
    margin: 30px;
    display: flex;
    flex-direction: column;
  }

  /*----------CARDS----------*/
  .recommendations article {
    margin: 20px
  }

  /*----------HEADINGS----------*/
  h3 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
  }

  /*----------OPTIONS----------*/
  article ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  article ul li {
    margin: 25px;
    list-style: none;
  }
}