/* sub head font family - Quicksand, Josefin Slab, Hind */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Hind&family=Quicksand:wght@700&display=swap');

body {
    font-family: 'Hind', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-size: 20px;
    
}



h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-family: 'Josefin Slab', serif;
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;  
}

body, html {
    height: 100%;
}

.hero-image {
    /* Linear-gradient" darkens the bakground image which will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5));

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0, 0.8);
}
.input-field label {
    color: #000000;
}
.input-field input[type=text]:focus + label {
    color: #000;
}  